@import '../styles/variables';
@import '../styles/mixins';

.addPlayer {
  background-color: rgb(169, 202, 50);
  border-radius: 10px;
  color: #fff;
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 25%;
  margin-top: 1em;
  max-width: $layout-container-width;
  padding: 1em;
  width: 100%;

  .input {
    height: $height-add-player;
    background-color: rgb(120, 146, 25);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;

    &--text {
      padding-left: 1em;
    }

    &--button {
      cursor: pointer;
      color: $color-background;
      background-color: $color-button;

      &:hover {
        background-color: #fff;
      }
    }
  }
}
