@import '../styles/helpers';
@import '../styles/variables';
@import '../styles/mixins';

.counter {
  @include flex-center;
  justify-content: space-between;
  align-items: center;

  .score {
    font-size: 1.5em;
    font-weight: 800;
    margin: 0;
  }

  .button {
    background: none;
    border: none;
    fill: $color-button;
    padding: 0;
    width: $size-player-button;

    &:hover {
      fill: #fff;
    }

    .svg {
      width: 100%;
    }
  }
}
