@import '../styles/helpers';
@import '../styles/variables';
@import '../styles/mixins';

.player {
  align-items: stretch;
  background-color: rgb(169, 202, 50);
  border-radius: 10px;
  color: #fff;
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(2, auto) 1fr 25%;
  max-width: $layout-container-width;
  margin-top: 1em;
  padding: 1em;
  width: 100%;

  &__button {
    fill: $color-button;
    padding: 0;
    width: $size-player-button;

    &:hover {
      fill: #fff;
    }
  }

  &__svg {
    width: 100%;
  }

  &__crown {
    fill: $color-button;
    width: $size-player-button;
  }

  &__heading {
    align-items: center;
    display: flex;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
  }
}
