@import '../styles/helpers';
@import '../styles/variables';
@import '../styles/mixins';

.stats {
  @include flex-center;

  border-spacing: 10px;
  border-collapse: separate;
  justify-self: start;

  .row {
    padding: 0;
    text-align: left;

    .header {
      font-weight: 600;
    }

    .data {
      font-size: 1em;
      font-weight: 800;
    }
  }
}
