@import '_helpers';
@import '_variables';
@import '_mixins';

.Counter {
  @include flex-center;
  justify-content: space-between;

  &__score {
    font-size: 1.5em;
    font-weight: 800;
  }

  &__button {
    fill: rgb(193, 221, 91);
    width: $size-counter-button;

    &:hover {
      fill: #fff;
    }
  }

  &__svg {
    width: 100%;
  }
}