@import '_helpers';
@import '_variables';
@import '_mixins';

.Header {
  align-items: center;
  background-color: rgb(120, 146, 25);
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  width: 100%;
  
  max-width: $layout-container-width;

  &__heading {
    font-weight: 600;
    margin: 0 2em;
  }

  &__stats {
    text-align: right;
    order: -1;
  }

  &__stat {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }
}