@import '_helpers';
@import '_variables';
@import '_mixins';

.Stats {
  @include flex-center;
  border-spacing: 10px;
  border-collapse: separate;
  justify-self: start;

  &__row {
    padding: 0;
    text-align: left;
  }

  &__header {
    font-weight: 600;
  }

  &__data {
    font-size: 1.2em;
    font-weight: 800;
  }
}