@import '_helpers';
@import '_variables';
@import '_mixins';

.Stats {
  justify-self: start;

  &__totalPlayers {
    margin: 0;
    margin-bottom: 0.5em;
  }

  &__totalPoints {
    margin: 0;
  }
}